# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [4]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [5]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)

In [6]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [8]:
drinks.columns

Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')

### Step 4. Which continent drinks more beer on average?

In [9]:
beer_avg = drinks.groupby("continent")["beer_servings"].mean()

# Get continent with the highest servings
top_continent = beer_avg.idxmax()
top_value = beer_avg.max()

print(f"highest beer servings is {top_continent} with {top_value:.2f} servings.")

highest beer servings is EU with 193.78 servings.

### Step 5. For each continent print the statistics for wine consumption.

In [16]:
consumption= drinks.groupby("continent")['wine_servings'].sum().sort_values(ascending=False)
print(consumption)

continent
EU    6400
AF     862
SA     749
OC     570
AS     399
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [21]:
mean_consumption = drinks.groupby("continent").mean(numeric_only=True)

print(mean_consumption)

           beer_servings  spirit_servings  wine_servings  \
continent
AF             61.471698        16.339623      16.264151
AS             37.045455        60.840909       9.068182
EU            193.777778       132.555556     142.222222
OC             89.687500        58.437500      35.625000
SA            175.083333       114.750000      62.416667

           total_litres_of_pure_alcohol
continent
AF                             3.007547
AS                             2.170455
EU                             8.617778
OC                             3.381250
SA                             6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [25]:
median_consumption=drinks.groupby('continent').median(numeric_only=True)
print(median_consumption)

           beer_servings  spirit_servings  wine_servings  \
continent
AF                  32.0              3.0            2.0
AS                  17.5             16.0            1.0
EU                 219.0            122.0          128.0
OC                  52.5             37.0            8.5
SA                 162.5            108.5           12.0

           total_litres_of_pure_alcohol
continent
AF                                 2.30
AS                                 1.20
EU                                10.00
OC                                 1.75
SA                                 6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [27]:
spirit_stats=drinks['spirit_servings'].agg(["mean","min","max"])

spirit_data = spirit_stats.to_frame().reset_index()

spirit_data.columns = ["Statistic", "Value"]

print(spirit_data)

  Statistic       Value
0      mean   80.994819
1       min    0.000000
2       max  438.000000