# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [3]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv"
cars1= pd.read_csv(url)

url2 = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv"
cars2= pd.read_csv(url2)

In [4]:
cars1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198 entries, 0 to 197
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           198 non-null    float64
 1   cylinders     198 non-null    int64
 2   displacement  198 non-null    int64
 3   horsepower    198 non-null    object
 4   weight        198 non-null    int64
 5   acceleration  198 non-null    float64
 6   model         198 non-null    int64
 7   origin        198 non-null    int64
 8   car           198 non-null    object
 9   Unnamed: 9    0 non-null      float64
 10  Unnamed: 10   0 non-null      float64
 11  Unnamed: 11   0 non-null      float64
 12  Unnamed: 12   0 non-null      float64
 13  Unnamed: 13   0 non-null      float64
dtypes: float64(7), int64(5), object(2)
memory usage: 21.8+ KB

In [10]:
cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

In [11]:
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [5]:
#drop unnamed columns
cars1= cars1.loc[:,~cars1.columns.str.contains('^Unnamed') ]

print(cars1.head())
print(cars1.columns)

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car
0       1  chevrolet chevelle malibu
1       1          buick skylark 320
2       1         plymouth satellite
3       1              amc rebel sst
4       1                ford torino
Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model', 'origin', 'car'],
      dtype='object')

### Step 5. What is the number of observations in each dataset?

In [9]:
print("cars1 observations:", cars1.shape[0])

print("cars2 observations:", cars2.shape[0])

cars1 observations: 198
cars2 observations: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [14]:

cars=pd.merge(cars1,cars2, how="outer")

print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0     9.0          8           304        193    4732          18.5     70
1    10.0          8           307        200    4376          15.0     70
2    10.0          8           360        215    4615          14.0     70
3    11.0          8           318        210    4382          13.5     70
4    11.0          8           350        180    3664          11.0     73
..    ...        ...           ...        ...     ...           ...    ...
393  43.4          4            90         48    2335          23.7     80
394  44.0          4            97         52    2130          24.6     82
395  44.3          4            90         48    2085          21.7     80
396  44.6          4            91         67    1850          13.8     80
397  46.6          4            86         65    2110          17.9     80

     origin                   car
0         1              hi 1200d
1         1             chevy c20
2         1             ford f250
3         1            dodge d200
4         1      oldsmobile omega
..      ...                   ...
393       2    vw dasher (diesel)
394       2             vw pickup
395       2  vw rabbit c (diesel)
396       3   honda civic 1500 gl
397       3             mazda glc

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [21]:
owners = np.random.randint(15000, 73001, size=len(cars))

### Step 8. Add the column owners to cars

In [23]:
cars['owners']= owners

cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,9.0,8,304,193,4732,18.5,70,1,hi 1200d,54981
1,10.0,8,307,200,4376,15.0,70,1,chevy c20,44977
2,10.0,8,360,215,4615,14.0,70,1,ford f250,39037
3,11.0,8,318,210,4382,13.5,70,1,dodge d200,44346
4,11.0,8,350,180,3664,11.0,73,1,oldsmobile omega,21626