# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import yfinance as yf

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [4]:
start= pd.to_datetime("01/01/2015")
stop= pd.to_datetime("today")

range= pd.date_range(start=start, end=stop, freq="D")

print(range)

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2025-09-21', '2025-09-22', '2025-09-23', '2025-09-24',
               '2025-09-25', '2025-09-26', '2025-09-27', '2025-09-28',
               '2025-09-29', '2025-09-30'],
              dtype='datetime64[ns]', length=3926, freq='D')

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [ ]:
symbols = ["AAPL", "TSLA", "TWTR", "IBM", "LNKD"]


stocks = df[df["Symbol"].isin(symbols)]

### Step 4. Read the data from google, assign to df and print it

In [18]:

df = yf.download("AAPL",start=start, end=stop)

C:\Users\dorice asami\AppData\Local\Temp\ipykernel_26532\3182495498.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("AAPL",start=start, end=stop)
[*********************100%***********************]  1 of 1 completed

### Step 5.  What is the type of structure of df ?

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2702 entries, 2015-01-02 to 2025-09-30
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   (Close, AAPL)   2702 non-null   float64
 1   (High, AAPL)    2702 non-null   float64
 2   (Low, AAPL)     2702 non-null   float64
 3   (Open, AAPL)    2702 non-null   float64
 4   (Volume, AAPL)  2702 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 126.7 KB

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [ ]:
df.index

DatetimeIndex(['2015-01-02', '2015-01-05', '2015-01-06', '2015-01-07',
               '2015-01-08', '2015-01-09', '2015-01-12', '2015-01-13',
               '2015-01-14', '2015-01-15',
               ...
               '2025-09-17', '2025-09-18', '2025-09-19', '2025-09-22',
               '2025-09-23', '2025-09-24', '2025-09-25', '2025-09-26',
               '2025-09-29', '2025-09-30'],
              dtype='datetime64[ns]', name='Date', length=2702, freq=None)

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [28]:
df.head()

Price           Close       High        Low       Open     Volume
Ticker           AAPL       AAPL       AAPL       AAPL       AAPL
Date
2015-01-02  24.261055  24.729278  23.821679  24.718182  212818400
2015-01-05  23.577574  24.110150  23.391173  24.030263  257142000
2015-01-06  23.579798  23.839428  23.218089  23.641931  263188400
2015-01-07  23.910433  24.010290  23.677430  23.788384  160423600
2015-01-08  24.829128  24.886824  24.121246  24.238858  237458000

In [27]:

volume= df['Volume', 'AAPL'].to_frame(name="volume")

print(volume)

               volume
Date
2015-01-02  212818400
2015-01-05  257142000
2015-01-06  263188400
2015-01-07  160423600
2015-01-08  237458000
...               ...
2025-09-24   42303700
2025-09-25   55202100
2025-09-26   46076300
2025-09-29   40127700
2025-09-30   34862763

[2702 rows x 1 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [32]:
weekly_volume = df["Volume"].resample("W").sum()

print(weekly_volume)

Ticker            AAPL
Date
2015-01-04   212818400
2015-01-11  1133010000
2015-01-18  1216906400
2015-01-25   794948000
2015-02-01  1863370800
...                ...
2025-09-07   212923200
2025-09-14   304787000
2025-09-21   360619500
2025-09-28   309374700
2025-10-05    74990463

[562 rows x 1 columns]

### Step 9. Find all the volume traded in the year of 2015

In [40]:
volume_per_year = df.groupby(df.index.year)['Volume'].sum()

print(volume_per_year.loc[2015])

Price   Ticker
Volume  AAPL      52264199600
Name: 2015, dtype: int64

### BONUS: Create your own question and answer it.