# Investor - Flow of Funds - US

### Introduction:

Special thanks to: https://github.com/rgrp for sharing the dataset.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv).

### Step 3. Assign it to a variable called

In [3]:
url = "https://raw.githubusercontent.com/datasets/investor-flow-of-funds-us/master/data/weekly.csv"

df2=pd.read_csv(url)

### Step 4.  What is the frequency of the dataset?

In [25]:
df2.describe()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
count,159.000000,50.000000,159.000000,50.000000,159.000000,50.000000,159.000000,50.000000
mean,7816.427673,-4908.440000,6526.301887,-648.540000,6209.238994,1170.000000,1328.345912,-4621.960000
std,14772.255905,4426.957647,11120.789050,1508.122623,10455.112795,6180.386825,1913.667580,9175.230856
min,-23041.000000,-15411.000000,-16192.000000,-5602.000000,-17891.000000,-17264.000000,-3263.000000,-37421.000000
25%,-3416.000000,-6394.000000,-968.500000,-1576.250000,-212.000000,-2036.000000,251.000000,-10846.750000
50%,6003.000000,-4591.500000,3322.000000,-567.000000,4945.000000,2996.000000,1130.000000,-2773.500000
75%,17217.500000,-2748.750000,11025.500000,388.250000,11387.000000,4685.500000,2077.000000,305.000000
max,54173.000000,5629.000000,41572.000000,2631.000000,40408.000000,17101.000000,7412.000000,10590.000000

In [24]:
df2.index = pd.to_datetime(df2.index)

### Step 5. Set the column Date as the index.

In [28]:
#was already set
df2.head()

,Total Equity,Domestic Equity,World Equity,Hybrid,Total Bond,Taxable Bond,Municipal Bond,Total
Date,,,,,,,,
2011-10-05,-4002,-4499.0,497,-1354.0,-5828,-6258.0,430,-11184.0
2011-10-12,-7397,-5842.0,-1555,512.0,3954,3927.0,28,-2931.0
2011-10-19,-3292,-3466.0,174,1399.0,5652,5102.0,550,3759.0
2011-10-26,-3696,-2998.0,-698,2631.0,4910,4070.0,841,3846.0
2011-12-07,-7956,-5761.0,-2196,1089.0,3523,2068.0,1456,-3343.0

### Step 6. What is the type of the index?

In [29]:
type(df2.index)

pandas.core.indexes.datetimes.DatetimeIndex

### Step 7. Set the index to a DatetimeIndex type

### Step 8.  Change the frequency to monthly, sum the values and assign it to monthly.

In [31]:
monthly = df2.resample('ME').sum()

print(monthly.head())

            Total Equity  Domestic Equity  World Equity  Hybrid  Total Bond  \
Date
2011-10-31        -18387         -16805.0         -1582  3188.0        8688
2011-11-30             0              0.0             0     0.0           0
2011-12-31        -23657         -16659.0         -6999  2395.0       13817
2012-01-31             0              0.0             0     0.0           0
2012-02-29             0              0.0             0     0.0           0

            Taxable Bond  Municipal Bond   Total
Date
2011-10-31        6841.0            1849 -6510.0
2011-11-30           0.0               0     0.0
2011-12-31        9335.0            4483 -7443.0
2012-01-31           0.0               0     0.0
2012-02-29           0.0               0     0.0

### Step 9. You will notice that it filled the dataFrame with months that don't have any data with NaN. Let's drop these rows.

### Step 10. Good, now we have the monthly data. Now change the frequency to year.

### BONUS: Create your own question and answer it.